<%- include("header"); -%>

<% for(var i = todos.length - 1; i > -1; i--){ %>
    <div class="box">
        <p>
            <a href= <%= "/" + i %> > <%=  todos[i].periodHeading %>  %></a>
        </p>
    </div>
<% };  %>

<%- include("footer"); -%>