<%- include("header"); -%>
<div class="container">
    <div class="group">
        <div class="box" id="heading">
            <h3 class="listHeader">Do zrobienia </h3>
        </div>
        <div class="box">
            <% for(var i = 0; i < newItems.length; i++) {  %>
                    <div class="item">
                        <p class="newItem"><%= newItems[i].value %></p>
                    </div>
            <% } %>
        </div>
    </div>

    <div class="group">
        <div class="box" id="heading">
            <h3 class="listHeader">Zrobione</h3>
        </div>
        <div class="box">
            <% for(var k = 0; k < completedItems.length; k++) {  %>
                    <div class="item">
                        <p class="oldItem"><%= completedItems[k].value %></p>
                    </div>
            <% } %>
        </div>
    </div>

</div>

<%- include("footer"); -%>