<%- include("header"); -%>
<div  class="box" id="heading">
<h2 class="listHeader">Nowy plan</h2>
</div>


<form action="/compose" method="post">
<div class="box">
  <input type="text" class="form-control planName" name="title" placeholder="Nazwa, okres, nowego planu" autocomplete="off">
</div>
<div class="box item">
  <input type="checkbox" name="chbImport" value="1">
  <div class="importDiv">
    <p class="import">Importuj "do zrobienia" z bieżącego planu</p>
  </div>
  <button class="comp btn btn-primary" type="submit">Twórz</button>
</div>

<div class="box">
</div>
</form>



<%- include("footer"); -%>